@import './config/functions';

body {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: $fw-thin;
    text-transform: uppercase;
}

.section-inner {
    position: relative;
    z-index: 5;
    max-width: 1200px;
    padding: 140px 0;
    margin: 0 auto;

    &-large {
        width: 100vw;
        max-width: none;
    }

    @media(max-width: $breakpoint-xl-max){
        padding: 60px 20px;
    }

    @media(max-width: $breakpoint-md-max){
        padding: 100px 20px;
    }

    @media(max-width: $breakpoint-xs-max){
        padding: 60px 20px;
    }
}

.socials {
    display: flex;

    &__item {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 17px;
        }

        &:hover {
            path {
                fill: darken($color-primary-50, 20%);
                transition: $transition;
            }
        }
    }
}

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    font-size: $fs-xxl;
    color: $color-primary-50;

    @media(max-width: $breakpoint-md-max){
        margin-bottom: 80px;
    }
    
    @media(max-width: $breakpoint-sm-max){
        margin-bottom: 60px;
        font-size: linear-size(360px, $breakpoint-sm-max, 44px, $fs-xxl);
    }

    @media(max-width: $breakpoint-xs-max){
        margin-bottom: 40px;
    }
}

.shadow-box {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 250px;

    &-top {
        top: 0;
        background: linear-gradient($color-primary-900, transparent);
    }

    &-bottom {
        bottom: 0;
        background: linear-gradient(transparent, $color-primary-900);
    }

    @media(max-width: $breakpoint-md-max){
        height: 200px;
    }
    
    @media(max-width: $breakpoint-sm-max){
        height: 160px;
    }

    @media(max-width: $breakpoint-xs-max){
        height: 120px;
    }
}

.arrows-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}