// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// font-size
$fs-xxl: 80px;
$fs-xl: 55px;
$fs-pre-xl: 47px;
$fs-l: 36px;
$fs-m: 30px;
$fs-s: 24px;
$fs-xs: 20px;
$fs-xxs: 16px;
$fs-semi-tiny: 14px;
$fs-tiny: 10px;

// colors
$color-primary-50: #fff;
$color-primary-300: #979797;
$color-primary-500: #3d3d3d;
$color-primary-800: #0f0f0f;
$color-primary-900: #000;
$color-secondary: #844ad5;

// other
$transition: 0.2s;

// breakpoints
$breakpoint-minimal-phone: 360px;
$breakpoint-xs-max: 575px;
$breakpoint-sm-max: 767px;
$breakpoint-md-max: 991px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl-max: 1399px;